#swapButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 24px;
  padding: 0 5px;
}

#swapButton:hover {
  color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  font-weight: bold;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  margin-right: 10px;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 18px);
}




table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddf;
}

thead {
  font-weight: bold;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.table-container {
  position: relative;
  margin-bottom: 20px;
}

.clear-history-button {
  position: absolute;
  right: 0;
  bottom: -50px;
  padding: 10px 20px;
  background-color: #f44;
  color: white;
  border: none;
  cursor: pointer;
}

.clear-history-button:hover {
  background-color: #c33;
}